# Go
api/*.exe
api/*.test
api/vendor/
api/*.out

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/.generated/
mobile/ios/Pods/
mobile/ios/Podfile.lock
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/build.gradle
mobile/android/app/src/main/res/drawable-*/
mobile/android/app/src/main/res/mipmap-*/
mobile/*.lock
mobile/*.log
mobile/.env*

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
